body{
    background-image: url("img/pattern.jpg");
    font-family: 'Righteous', cursive;
    color: #2B3E42;
}

.jumbotron {
    background-color: #F2583E;
    color: #2B3E42;
    padding: 100px 25px;
}

.container-fluid {
    padding: 60px 50px;
}

a {
    color: #F7F3E8;
}
a:hover{
    color: black;
}

.orange{
    color: #2B3E42;
}

.logo {
    font-size: 200px;
    color: #F2583E;
}

.logo-small {
    color: #2B3E42;
    font-size: 20px;
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

.panel {
    border: 1px solid #F2583E; 
    border-radius:0;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid #F2583E;
    background-color: #F7F3E8 !important;
    color: #F2583E;
}

.panel-heading {
    color: #F7F3E8 !important;
    background-color: #F2583E !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: #D5E1DD !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

#videoCenter{
    text-align: center;
}

.navbar {
    margin-bottom: 0;
    background-color: #2B3E42;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #F7F3E8 !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #F2583E !important;
    background-color: #F7F3E8 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #F7F3E8 !important;
}

.navbar-brand>img {
    height: 100%;
    width: auto;
  }

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;    
}

#orangebar {
    
    background-color: #F2583E;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
}

h2 {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 22px;
    line-height: 1.375em;
    font-weight: 400;
    margin-bottom: 30px;
}

p{
    font-size: 1.2em;

}

#bmidisplay{
    color: green;
    text-decoration: underline;
}

#bmiCat{
    color: green;
    text-decoration: underline;
}